

[Proxies]
# Proxies for required interfaces
Gridder = "gridder:tcp -h localhost -p 0"
Lidar3D = "lidar3d:tcp -h localhost -p 0"
Lidar3D1 = "lidar3d:tcp -h localhost -p 0"
OmniRobot = "omnirobot:tcp -h localhost -p 0"
Webots2Robocomp = "webots2robocomp:tcp -h localhost -p 0"


[Endpoints]
# Endpoints for implements interfaces
Gridder = "tcp -p 0"




[Period]
Compute = 100
Emergency = 500

[Ice]
Warn.Connections = "0"
Trace.Network = "0"
Trace.Protocol = "0"
MessageSizeMax = "20004800"
